name: Install GCC 15

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Add GCC PPA
        run: |
          sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
          sudo apt-get update
      
      - name: Install GCC 15
        run: sudo apt-get install -y gcc-15 g++-15

      - name: Check GCC version
        run: gcc-15 --version